.website{

}

body{
    margin: 0;
}

:root{
    --component-background: #7E7E7E;
    --nav-bar-idle-color: #808080;
    --nav-bar-hover-color: 	#696969;
    --nav-bar-text: white;
    --nav-bar-selected-color: #505050;
    --component-idle-color: #808080;
}